html, body {
  height: 100%;
  margin: 0;
  background-color: #ACC8E5;
}

#root {
  height: 100%;
}

textarea {
   resize: none;
}


#title {
  background-color: #5386A6;
  color: white;
  border: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

#content {
  background-color: #ACC8E5;
}

#cardNav {
  background: #faf9f9;
  margin-left: auto;
  margin-right: auto;
}

.btn-secondary {
  color: #6c757d !important;
  background-color: #fff;
  border-color: #6c757d !important;
}

.page-link {
  color: #6c757d;
  border-color: #6c757d;
}

.page-link.active {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.navbar-custom {
  background: #ACC8E5;
  border-bottom-color: black;
  padding-left: 8px;
}

.navbar-custom .navbar-brand {
  font-weight: 500;
  font-size: 26px;
  padding-top:0%;
  padding-bottom: 0%;
  color: black;
}

#contentcard .card:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    transform:scale(1.01);
}

.custom-tab2 {
  display: none !important;
}


@media screen and (max-width: 450px) {
  #contentcard .custom-description {
    display: none;
  }

  #content{
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  #login{
    width: 75%;
  }

  #custom-login {
    width:100%!important;
  }

  #register{
    width: 75%;
  }

  #custom-register {
    width:100%!important;
  }

  #title {
    width:100% !important;
  }

  #title .h5 {
    font-size: 2.3vh !important;
  }

  #cardNav {
    width:100% !important;
    height: 87%!important;
  }

  .custom-tab1 {
    display: none!important;
  }

  .custom-tab2 {
    display: contents!important;
  }
}
